@model IEnumerable<WebApplication1.Models.Product>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Products</h2>




    <ul>
    @foreach (var e in Model)
    {
        <p>@Html.ActionLink(e.Name, "ProductDetails", "Products", new { i = e.Name} ,null)</p>
    }

  
</ul>
